@use "./../../assets/styles/variables" as*;

.button {

    padding: 10px;
    font-size: 30px;
    width: 100%;
    border: none;

    &--primary {
        background-color: $primary-color;
    }

    &--secondary {
        background-color: $primary-color;
    }


}

@media screen and (min-width:768px){
    .button {

        padding: 10px;
        font-size: 30px;
        font-family: Parisienne;
        margin: 10px;
        border: none;
    
        &--primary {
            background-color: $primary-color;
            
            
        }
    
        &--secondary {
            background-color: $primary-color;
        }
    
    
    }
}