@import "./../../assets/styles/variables";


.nav {
    color: $teriary-color;
    background-color: $quinary-color;
    width: 100%;
    height:550px;
    //padding: 40px;
    

    &__search {
    display: flex;
    justify-content: flex-end;
    
    }

    &__heading{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Parisienne";
        font-size: 60px;
        margin: 0px;

    }

}

.pop-up{
    display: flex;
    flex-direction: column;
    //justify-content: center;
    padding: 15px;
    align-items: center;
    background-color: $primary-color;
    width: 350px;
    height: 250px;
    border-radius: 20px;
}