.nav {
    background-color: pink;
    width: 90vw;
    height:100px;
    padding: 20px;

    &__search {
    display: flex;
    justify-content: flex-end;
    }

    &__heading{
        display: flex;
        justify-content: center;
    }

}