$primary-color:rgb(255, 168, 206);

$secondary-color:rgb(228, 186, 238);
$teriary-color:rgb(0, 93, 20);
$quartenernary-color:rgb(255, 237, 237);
$quinary-color:rgb(249, 201, 222);
$senary-color:rgb(210, 255, 210);
$septenary-color:rgb(192, 178, 255)