@import "./../../assets/styles/variables";


.brand__title {
    font-size: 40px;
    font-family: Parisienne;
    text-align: center;
    padding: 10px;
}

.brand__vegan{
background-image: linear-gradient(white, lighten($senary-color,3%));
}

.brand__cruelty-free{
background-image: linear-gradient(white, lighten($septenary-color,8%));
}

.brand__names {
    font-family: Quicksand;
    font-size: 18px;
    text-align: center;
}

.brand__cards {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}



@media screen and (min-width:768px){
    .brand__cards{
    
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}