
@import "./../../assets/styles/variables";

.search{
    display: flex;
    justify-content: space-around;
    margin: 10px;


    &__input {
        border: 3px darken($primary-color, 10%) solid;
        border-radius: 30px;
        padding: 10px;
    }

    &__button{
        border-radius: 30px;
        padding: 10px;
        background-color: $primary-color;
        border: 3px darken($primary-color, 10%) solid;
    }
}

@media screen and (min-width:768px){
    .search{

        &__input {
            width: 300px;
            height: 30px;
            margin: 30px;


            font-size: 15px;

        }
    
    } 
}