
@import "./../../assets/styles/variables" ;





.makeupFront {

    width: 275px;
    height: 400px;
    border-radius: 10px 10PX 0PX 0PX;
    //padding: 10px;
    overflow: hidden;

    &__image {
        max-width: 200px;
        

    }

    &__green {
        background-color: $senary-color;
    }

    &__purple {
        background-color: lighten($septenary-color, 5%);
    }

    &__name {
        font-family: Parisienne;
        font-size: 35px;
        display: flex;
        justify-content: center;
    }

    &__brand {
        font-family: Poppins;
        display: flex;
        justify-content: center;

    }

}

.test {
    background-color: pink;
}