@use "./../../assets/styles/variables" as *;

.makeupBack {
    background-color: $secondary-color;
    width: 275px;
    height: 400px;
    border-radius: 10px 10PX 0PX 0PX;
    
    //padding: 10px;
    font-family: Poppins;

    &__green {
        background-color: lighten($senary-color, 4%);
    }

    &__purple {
        background-color: lighten($septenary-color, 10%);
    }
}